@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hero {
    background-color: #1f2937;
    padding: 16px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header img {
    height: 40px;
    max-width: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Sub Hero */

.subhero {
    display: flex;
    gap: 16px;
}

.subhero img {
    max-height: 200px;
    max-width: auto;
}

.subhero .main {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}