@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

/* Section Config Here */

.section1 ,
.section2 ,
.section3 ,
.section4 {
    display: flex;
    justify-content: center;
}

.section1 {
    background-color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
}

/* Directly Inside Section Class */

.hero ,
.info ,
.quote {
    padding: 16px;
    max-width: 1000px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header img {
    height: 40px;
    max-width: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Sub Hero */

.subhero {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.subhero img {
    max-height: 200px;
    max-width: auto;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

/* Info */
.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.title-info {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: bolder;
    width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.subinfo {
    max-width: 130px;
}

.subinfo img {
    max-width: 120px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

/* Quote */
.quote  {
    max-width: 600px;
    padding: 32px;
}

.words {
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 16px;
}

.author {
    font-weight: bold;
    text-align: right;
}

/* Join Us */
.joinus {
    max-width: 1000px;
}

.joinus .container {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    max-width: 600px;
    border-radius: 10px;
    padding: 16px;
    margin: 32px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1f2937;
}

.copyright {
    color: #e5e7eb;
    padding: 8px;
}

/* Button */

.signup {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
    height: fit-content;
}